<template>
  <div class="app-container">
    <template>
      <div class="columns is-narrow">
        <div class="column is-8">
          <b>Merge Non Telly Record</b>
        </div>
      </div>
      <div class="columns is-narrow">
        <div class="column is-12">
          <span v-if="show">
            <b-table
              :loading="listLoading"
              :data="filteredList"
              :paginated="isPaginated"
              :per-page="perPage"
              :current-page.sync="currentPage"
              :pagination-simple="isPaginationSimple"
              :bordered="isBordered"
              :striped="isStriped"
              :narrowed="isNarrowed"
              :hoverable="isHoverable"
              :focusable="isFocusable"
              :mobile-cards="hasMobileCards"
              :search-table="isSearchTable"
              :columns="columns"
              :default-sort-direction="defaultSortOrder"
              backend-sorting
              @sort="checkMove">
              <template slot-scope="props" slot="header">
                <div>
                  {{ props.column.label }}
                  <svg-icon v-if="props.column.sortable === true && props.column.isDesc === true && props.column.isActive === true" icon-class="arrow" class="GPSArrow_desc"/>
                  <svg-icon v-if="props.column.sortable === true && props.column.isDesc === false && props.column.isActive === true" icon-class="arrow" class="GPSArrow"/>
                  <svg-icon v-if="props.column.sortable === true && props.column.isDesc === false && props.column.isActive === false" icon-class="sortArrow" class="GPSNotActive"/>
                </div>
              </template>
              <template slot-scope="props">
                <b-table-column>
                  {{ props.row.AvgSED }}
                </b-table-column>
                <b-table-column>
                  {{ props.row.Volume }}
                </b-table-column>
                <b-table-column>
                  {{ props.row.CutLength }}
                </b-table-column>
                <b-table-column>
                  <span @click="openDeleteModel(props.row)">
                    <b-icon class="GPS" icon="delete" title="Delete"/>
                  </span>
                  <span @click="formDetails(props.row,0)">
                    <b-icon class="GPS" icon="square-edit-outline" title="Master Details"/>
                  </span>
                  <span @click="formDetails(props.row,1)">
                    <b-icon class="GPS" icon="check-all" title="Tally Details"/>
                  </span>
                  <span @click="formDetails(props.row,2)">
                    <b-icon class="GPS" icon="check" title="Non-Tally Details"/>
                  </span>
                </b-table-column>
              </template>
              <template slot="empty">
                <section class="section">
                  <div class="content has-text-grey has-text-centered">
                    <p>No Data Found.</p>
                  </div>
                </section>
              </template>
            </b-table>
          </span>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import dateUtil from 'element-ui/lib/utils/date'
export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      exactMatchedMasterList: [],
      exactMatchedNontellyList: [],
      devMatchedMasterList: [],
      devMatchedNontellyList: [],
      unMatchedMasterList: [],
      unMatchedNontellyList: [],
      isPaginated: true,
      isPaginationSimple: true,
      sortField: 'name',
      sortOrder: 'asc',
      defaultSortOrder: 'asc',
      currentPage: 1,
      perPage: 25,
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: false,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: false,
      listLoading: false,
      isSearchTable: true,
      sortable: null,
      CategoryMaster: [],
      QualificationMaster: [],
      SyllabusMaster: [],
      isUpdateMode: false,
      show: true,
      newListData: {
        id: '',
        name: ''
      },
      statusChangeData: {
        id: '',
        admin_id: '',
        client_id: '',
        status: '1'
      },
      importData: [],
      editListData: [],
      isNewMaster: false,
      openChangeStatus: false,
      openDeleteProtocol: false,
      selectedIDtoDeleteProtocol: '',
      columns: [
        {
          field: 'sed',
          label: 'SED',
          width: '180',
          sortable: true,
          isActive: true,
          isDesc: false
        },
        {
          field: 'volume',
          label: 'Volume',
          width: '180',
          sortable: true,
          isActive: true,
          isDesc: false
        },
        {
          field: 'cutlength',
          label: 'CutLength',
          width: '180',
          sortable: true,
          isActive: true,
          isDesc: false
        }
        // {
        //   field: 'created_at',
        //   label: 'CREATED',
        //   width: '100',
        //   sortable: true,
        //   isActive: false,
        //   isDesc: false
        // },
        // {
        //   field: 'admin_name',
        //   label: 'CREATED BY',
        //   width: '100',
        //   sortable: true,
        //   isActive: false,
        //   isDesc: false
        // },
        // {
        //   field: '',
        //   label: 'ACTIONS',
        //   width: '80',
        //   isActive: false,
        //   isDesc: false
        // }
      ]
    }
  },
  computed: {
    filteredList() {
      return this.list
    },

  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      if (!this.$store.getters.isLogedIn) {
        this.$store.dispatch('LogOut').then(() => {
          location.reload() // In order to re-instantiate the vue-router object to avoid bugs
        })
      }
      this.listLoading = true
      const params = new URLSearchParams()
      params.append('masterId', this.$route.query.NonTellyRow)
      axios({
        url: process.env.BASE_API + '/merge-non-telly',
        method: 'post',
        data: params,
        // withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          debugger
          this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.exactMatchedMasterList = response.data.exact_matched_master_list
            this.exactMatchedMasterList.sort()
            this.loadDataAsync()
            this.exactMatchednontellyList = response.data.exact_matched_nontelly_list
          } else {
            this.listLoading = false
            this.list = []
          }
        })
        .catch(e => {
          const self = this
          this.list = []
          setTimeout(function() { self.openToast('Some Error Occured while loading data', 'danger') }, 200)
          this.listLoading = false
        })
    },
    handleSelectedFile(convertedData) {
      this.editListData.importData = convertedData
      // console.log(JSON.stringify(convertedData))
      // window.alert(JSON.stringify(convertedData))
    },
    formDetails(row, value) {
      this.$router.push({ path: '/erpMasterDetails/index', query: { FormMasterData: row, btnid: value }})
    },
    // bindCategories() {
    //   this.listLoading = true
    //   axios({
    //     url: process.env.BASE_API + '/get-master-list',
    //     method: 'get',
    //     withCredentials: false,
    //     headers: {
    //     }
    //   })
    //     .then(response => {
    //       this.listLoading = false
    //       if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
    //         this.CategoryMaster = response.data.metadata.categories
    //         this.QualificationMaster = response.data.metadata.qualifications
    //         this.SyllabusMaster = response.data.metadata.syllabus
    //       } else {
    //         const self = this
    //         setTimeout(function() { self.openToast('Failed to load categories data. Please try agian', 'warning') }, 200)
    //       }
    //     })
    //     .catch(e => {
    //       const self = this
    //       setTimeout(function() { self.openToast('Some Error Occured', 'danger') }, 200)
    //       this.listLoading = false
    //     })
    // },
    openEditableModel(row, index) {
      if (this.list.length > index && index >= 0) {
        this.editListData = Object.assign({}, row)
        this.editListData.admin_id = this.$store.getters.admin_id
        this.editListData.client_id = this.$store.getters.client_id
        this.isNewMaster = true
      }
    },
    openNewModel() {
      this.editListData = {}
      this.editListData.id = ''
      this.editListData.admin_id = this.$store.getters.admin_id
      this.editListData.client_id = this.$store.getters.client_id
      this.editListData.status = 0
      this.isNewMaster = true
    },
    handleDateChange(idx, date, ele) {
      if (ele.date_to !== undefined && (ele.date_to + '').trim().length > 0) {
        var from_date = new Date(date)
        var to_date = new Date(ele.date_to)
        if (from_date > to_date) {
          const self = this
          setTimeout(function() { self.openToast('From Date Can not be greater than To date', 'warning') }, 200)
          ele.date_from = ''
          return
        }
      }
      if (date instanceof Date) {
        ele.date_from = dateUtil.format(date, 'yyyy-MM-dd')
      } else {
        ele.date_from = date
      }
    },
    handleDateChangeToDate(idx, date, ele) {
      if (ele.date_from !== undefined && (ele.date_from + '').trim().length > 0) {
        var to_date = new Date(date)
        var from_date = new Date(ele.date_from)
        if (from_date > to_date) {
          const self = this
          setTimeout(function() { self.openToast('To Date Can not be less than From date', 'warning') }, 200)
          ele.date_to = ''
          return
        }
      }
      if (date instanceof Date) {
        ele.date_to = dateUtil.format(date, 'yyyy-MM-dd')
      } else {
        ele.date_to = date
      }
    },
    saveDetails() {
      this.listLoading = true
      this.isUpdateMode = true
      const params = new URLSearchParams()
      const isNewRecord = (this.editListData.id === undefined || (this.editListData.id + '').trim().length === 0)
      console.log(JSON.stringify(this.editListData))
      console.log(this.editListData.client_id)
      params.append('data', JSON.stringify(this.editListData))
      axios({
        url: process.env.BASE_API + '/import-master-data',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          const self = this
          this.listLoading = false
          this.isUpdateMode = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            if (isNewRecord) {
              var newDataOBJ = response.data.master_list
              this.list.splice(0, 0, newDataOBJ)
            } else {
              const indexChange = this.list.findIndex(el => el.id === response.data.form_master_list.id)
              this.list.splice(indexChange, 1, response.data.master_list)
            }
            this.isNewMaster = false
            setTimeout(function() { self.openToast('Data Saved Successfully', 'success') }, 200)
          } else {
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          }
        })
        .catch(e => {
          const self = this
          this.listLoading = false
          this.isUpdateMode = false
          setTimeout(function() { self.openToast('Some Error Occured', 'danger') }, 200)
        })
    },
    openChangeStatusModel(row) {
      this.openChangeStatus = true
      this.statusChangeData.id = row.id
      this.statusChangeData.admin_id = this.$store.getters.admin_id
      this.statusChangeData.client_id = this.$store.getters.admin_id
      this.statusChangeData.status = row.status
    },
    updateStaus() {
      this.isUpdateMode = true
      this.listLoading = true
      const params = new URLSearchParams()
      params.append('data', JSON.stringify(this.statusChangeData))
      axios({
        url: process.env.BASE_API + '/protocol/change-status-form-master',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          this.isUpdateMode = false
          const self = this
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.openChangeStatus = false
            this.sortOrder = (this.sortOrder === 'asc') ? 'desc' : 'asc'
            this.fetchData()
            setTimeout(function() { self.openToast('Status Updated Successfully', 'success') }, 200)
          } else {
            setTimeout(function() { self.openToast('Failed to Update data. Please try agian', 'warning') }, 200)
          }
        })
        .catch(e => {
          this.isUpdateMode = false
          this.listLoading = false
          setTimeout(function() { self.openToast('Some Error Occured', 'danger') }, 200)
        })
    },
    checkMove(field, order) {
      this.sortField = field
      this.loadDataAsync()
    },
    deleteProtocol() {
      this.listLoading = true
      this.isUpdateMode = true
      const params = new URLSearchParams()
      params.append('id', this.selectedIDtoDeleteProtocol)
      axios({
        url: process.env.BASE_API + '/protocol/delete-form-master',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          const self = this
          this.isUpdateMode = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.openDeleteProtocol = false
            this.sortOrder = (this.sortOrder === 'asc') ? 'desc' : 'asc'
            this.fetchData()
            setTimeout(function() { self.openToast('Protocol Deleted Successfully', 'success') }, 200)
          } else {
            this.openDeleteProtocol = false
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          }
        })
        .catch(e => {
          this.isUpdateMode = false
          this.listLoading = false
          const self = this
          setTimeout(function() { self.openToast('Some Error Occured', 'danger') }, 200)
        })
    },
    openDeleteModel(row) {
      this.selectedIDtoDeleteProtocol = row.id
      this.openDeleteProtocol = true
    },
    openToast(msg, type) {
      this.$toast.open({
        duration: 2000,
        message: msg,
        position: 'is-top-right',
        type: 'is-' + type
      })
    },
    loadDataAsync() {
      var field = this.sortField
      var order = this.sortOrder
      for (var i in this.columns) {
        if (this.columns[i].field === field) {
          if (this.columns[i].isActive === true) {
            if (order === 'asc') {
              this.columns[i].isDesc = false
            } else {
              this.columns[i].isDesc = true
            }
          } else {
            order = 'asc'
            this.columns[i].isDesc = false
          }
          this.columns[i].isActive = true
        } else {
          this.columns[i].isActive = false
          this.columns[i].isDesc = false
        }
      }
      var isAsc = (order === 'asc')
      if (field.trim().toUpperCase() === 'sed') {
        this.list.sort(function(a, b) {
          var nameA = a.name.toLowerCase()
          var nameB = b.name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'volume') {
        this.list.sort(function(a, b) {
          var nameA = a.qualification_name.toLowerCase()
          var nameB = b.qualification_name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'cutlength') {
        this.list.sort(function(a, b) {
          var nameA = a.syllabus_name.toLowerCase()
          var nameB = b.syllabus_name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } 
      this.sortOrder = isAsc ? 'desc' : 'asc'
    },
    rerender(orderField) {
      this.show = false
      this.$nextTick(() => {
        this.show = true
        this.isPaginated = true
        this.isPaginationSimple = true
        this.defaultSortDirection = 'asc'
        this.sortField = orderField
        this.currentPage = 1
        this.perPage = 25
        this.isEmpty = false
        this.isBordered = false
        this.isStriped = false
        this.isNarrowed = false
        this.isHoverable = false
        this.isFocusable = false
        this.isLoading = false
        this.hasMobileCards = false
        this.listLoading = false
        this.isSearchTable = true
        this.sortable = null
      })
    }
  }
}
</script>

<style>
body{
  color: #4a4a4a;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Calibri;
}
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}
table > thead{
  border-bottom: 1px solid black;
  border-style:hidden;
}
.b-table .table th.is-current-sort {
    border-color: #dbdbdb;
}
.b-table .table th.is-sortable:hover {
    border-color: #dbdbdb;
}
.checkbox-cell > label{
  width: 0px;
}
.checkbox-cell > label >span{
  width: 0px;
}
.table-wrapper > table > thead > tr > th :after{
    content: "-";
    display: block;
    line-height: 0.7em;
    color: transparent;
}
.table-wrapper > table > thead > tr > th{
    border-bottom-width: 0px;
}
.table-wrapper > table > thead{
    background-color: #F5F9FA;
}
.b-table .table {
  border: 0px;
}
.app-container .GPS {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: #363636;
  cursor: pointer;
  vertical-align: -0.3em;
}
span.icon.is-small {
  display : none ! important;
}
.calMobile .dropdown-menu {
    position: fixed;
    width: calc(100vw - 40px);
    max-width: 460px;
    max-height: calc(100vh - 120px);
    top: 25% !important;
    left: 50% !important;
    bottom: auto !important;
    right: auto !important;
    -webkit-transform: translate3d(-50%, -25%, 0);
    transform: translate3d(-50%, -25%, 0);
    white-space: normal;
    overflow-y: auto;
}
.label {
  color: #4a4a4a;
  font-size: 0.8rem;
  font-weight: 400;
}
.move-right {
  margin-left: auto;
}
/*For Custom Sorting Arrow */
.app-container .GPSArrow {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.app-container .GPSArrow_desc {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
}
.app-container .GPSNotActive {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
controlHeight {
  height: 2.8em!important;
}
#boxshadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}
/* Make the image fit the box */
#boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
}
#boxshadow::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}
</style>

<style scoped>
.icon-star{
  margin-right:2px;
}
.drag-handler{
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.show-d{
  margin-top: 15px;
}
</style>
