<template>
  <el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu
      :show-timeout="200"
      :default-active="$route.path"
      :collapse="isCollapse"
      mode="vertical"
      background-color="#304156"
      text-color="#F7F9FB"
      active-text-color="#bfcbd9">
      <div class="menu-wrapper">
        <span class="router-link-exact-active router-link-active">
          <li role="menuitem" tabindex="-1" class="el-menu-item submenu-title-noDropdown" style="padding-left: 20px;color: #bfcbd9; background-color: rgb(48, 65, 86);height:50px" @click="toggleClick">
            <svg-icon v-if="isSidebarOpen" icon-class="image2vector" style="width: 150px;height: 50px;"/>
            <svg-icon v-if="!isSidebarOpen" icon-class="scandlearn" style="width: 150px;height: 50px;"/>
          </li>
        </span>
      </div>
      <sidebar-item v-for="route in routes" :key="route.name" :item="route" :base-path="route.path"/>
    </el-menu>
  </el-scrollbar>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'
export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters([
      'sidebar'
    ]),
    routes() {
      return this.$router.options.routes
    },
    isCollapse() {
      return !this.sidebar.opened
    },
    isSidebarOpen() {
      return this.sidebar.opened
    }
  },
  methods: {
    toggleClick: function(event) {
      this.$store.dispatch('ToggleSideBar')
    }
  }
}
</script>

<style>
li.el-menu-item.is-active {
  background-color : rgb(38,52,69)!important
}
</style>
