<template>
  <div class="app-container">
    <template>
      <div class="columns is-narrow">
        <div class="column is-9">
          <b style="font-size:18px;">Filters</b>
        </div>
        <div class="column is-3">
          <b-field grouped position="is-right">
            <a class="is-link is-small" title="Advance Filters" style="font-color:#3273dc;color:#3273dc" @click="showExtraFilters()">Advance Filters</a>
          </b-field>
        </div>
      </div>
      <div class="columns is-narrow">
        <div class="column is-5">
          <b-field grouped>
            <b-field>
              <p class="control">
                Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <el-date-picker
                v-model="dateRangeFilter"
                format="yyyy-MM-dd"
                type="daterange"
                size="small"
                placeholder="Pick a date"
                @input="handleDateChange(0, $event, dateRangeFilter)"/>
            </b-field>
          </b-field>
        </div>
        <div class="column is-4">
          <b-field grouped>
            <b-field expanded>
              <p class="control">
                Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <multiselect
                v-model="stausSelectedValue"
                :options="objStatus"
                :multiple="true"
                :close-on-select="false"
                :clear-on-select="false"
                :hide-selected="true"
                :preserve-search="true"
                :preselect-first="false"
                placeholder=""
                label="name"
                track-by="id"
                select-label="">
                <template slot="tag" slot-scope="props">
                  <span style="padding-right:5px; cursor: context-menu;"><span>{{ props.option.name }}</span>
                  <span style="cursor: pointer;font-size:8px" @click="props.remove(props.option)">❌</span></span>
                </template>
              </multiselect>
            </b-field>
          </b-field>
        </div>
        <div class="column is-3">
          <b-field grouped position="is-right">
            <b-field>
              <p class="control">
                Page Size&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <b-select v-model="perPage" size="is-small">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
              </b-select>
              &nbsp;&nbsp;&nbsp;&nbsp;<a class="button is-link is-rounded is-small" title="Add New Session" @click="openNewModel()">&nbsp;&nbsp;+ Create&nbsp;&nbsp;</a>
            </b-field>
          </b-field>
        </div>
      </div>
      <transition name="bounce">
        <div v-if="isShowAdvanceFilters" class="columns is-narrow">
          <div class="column is-4" style="padding-top: 5px;padding-bottom: 3px;">
            <b-field grouped>
              <b-field expanded>
                <p class="control">
                  Name&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <multiselect
                  v-model="nameMasterSelectedValue"
                  :options="nameMaster"
                  :multiple="true"
                  :close-on-select="false"
                  :clear-on-select="false"
                  :hide-selected="true"
                  :preserve-search="true"
                  :preselect-first="false"
                  placeholder=""
                  label="name"
                  track-by="id"
                  select-label="">
                  <template slot="tag" slot-scope="props">
                    <span style="padding-right:5px; cursor: context-menu;"><span>{{ props.option.name }}</span>
                    <span style="cursor: pointer;font-size:8px" @click="props.remove(props.option)">❌</span></span>
                  </template>
                </multiselect>
              </b-field>
            </b-field>
          </div>
          <div class="column is-4" style="padding-top: 5px;padding-bottom: 3px;">
            <b-field grouped>
              <b-field expanded>
                <p class="control">
                  Instructor&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <multiselect
                  v-model="instructorSelectedValue"
                  :options="instructorMaster"
                  :multiple="true"
                  :close-on-select="false"
                  :clear-on-select="false"
                  :hide-selected="true"
                  :preserve-search="true"
                  :preselect-first="false"
                  placeholder=""
                  label="name"
                  track-by="id"
                  select-label="">
                  <template slot="tag" slot-scope="props">
                    <span style="padding-right:5px; cursor: context-menu;"><span>{{ props.option.name }}</span>
                    <span style="cursor: pointer;font-size:8px" @click="props.remove(props.option)">❌</span></span>
                  </template>
                </multiselect>
              </b-field>
            </b-field>
          </div>
          <div class="column is-4" style="padding-top: 5px;padding-bottom: 3px;">
            <b-field grouped>
              <b-field expanded>
                <p class="control">
                  Place&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <multiselect
                  v-model="placeMasterSelectedValue"
                  :options="placeMaster"
                  :multiple="true"
                  :close-on-select="false"
                  :clear-on-select="false"
                  :hide-selected="true"
                  :preserve-search="true"
                  :preselect-first="false"
                  placeholder=""
                  label="name"
                  track-by="id"
                  select-label="">
                  <template slot="tag" slot-scope="props">
                    <span style="padding-right:5px; cursor: context-menu;"><span>{{ props.option.name }}</span>
                    <span style="cursor: pointer;font-size:8px" @click="props.remove(props.option)">❌</span></span>
                  </template>
                </multiselect>
              </b-field>
            </b-field>
          </div>
        </div>
      </transition>
      <div class="columns is-narrow">
        <div class="column is-12">
          <b-table
            :data="filteredList"
            :v-loading="listLoading"
            :paginated="isPaginated"
            :per-page="perPage"
            :current-page.sync="currentPage"
            :pagination-simple="isPaginationSimple"
            :bordered="isBordered"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :hoverable="isHoverable"
            :loading="isLoading"
            :focusable="isFocusable"
            :mobile-cards="hasMobileCards"
            :default-sort-direction="defaultSortOrder"
            :search-table="isSearchTable"
            :columns="columns"
            backend-sorting
            @sort="checkMove">
            <template slot-scope="props" slot="header">
              <div>
                {{ props.column.label }}
                <svg-icon v-if="props.column.sortable === true && props.column.isDesc === true && props.column.isActive === true" icon-class="arrow" class="GPSArrow_desc"/>
                <svg-icon v-if="props.column.sortable === true && props.column.isDesc === false && props.column.isActive === true" icon-class="arrow" class="GPSArrow"/>
                <svg-icon v-if="props.column.sortable === true && props.column.isDesc === false && props.column.isActive === false" icon-class="sortArrow" class="GPSNotActive"/>
              </div>
            </template>
            <template slot-scope="props">
              <b-table-column>
                {{ props.row.date_session }}
              </b-table-column>
              <b-table-column>
                {{ props.row.form_master_name }}
              </b-table-column>
              <b-table-column>
                <span v-for="(item,index) in props.row.participants" :key = "item.userName" :title="item.userName">
                  {{ item.userName.slice(0, 10) }} <span v-if="item.userName.length > 10">...</span><span v-if="index < props.row.participants.length-1">, </span>
                </span>
              </b-table-column>
              <b-table-column>
                {{ props.row.user_name }}
              </b-table-column>
              <b-table-column>
                {{ props.row.place_name }}
              </b-table-column>
              <b-table-column>
                <span v-if="arrStatus[props.row.status] != undefined">
                  {{ arrStatus[props.row.status] }}
                </span>
              </b-table-column>
              <b-table-column>
                <span @click="openEditableModel(props.row,props.index)">
                  <b-icon class="GPS" icon="pencil" title="Edit"/>
                </span>
                <span style="padding-right:5px" title="Send mail" @click="sendMail(props.row)">
                  <svg-icon icon-class="at" class="GPS"/>
                </span>
                <span style="padding-right:5px" @click="downloadPDF(props.row)">
                  <b-icon class="GPS" icon="login-variant" title="Download PDF" custom-class="mdi-rotate-90"/>
                </span>
                <span v-if="props.row.status != 7" @click="openApproveProtocolModal(props.row)">
                  <b-icon class="GPS" icon="check" title="Approve"/>
                </span>
              </b-table-column>
            </template>
          </b-table>
        </div>
      </div>
      <b-modal :active.sync="openApproveProtocol" :width="960">
        <div class="modal-card" style="auto">
          <section class="modal-card-body">
            <el-form ref="form" label-width="100px" >
              <div class="columns is-narrow">
                <div class="column">
                  <b style="font-size:18px;">
                    Confirm that the selected protocol shall change status to Approved
                  </b>
                </div>
              </div>
            </el-form>
          </section>
          <footer class="modal-card-foot" style="padding:10px;background-color:#FFFFFF;">
            <div class="control is-grouped is-pulled-right move-right">
              <a class="button is-link is-rounded is-small" @click="updateStaus">&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;</a>
              <a class="button is-rounded is-small" @click="openApproveProtocol = false">&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;</a>
            </div>
          </footer>
        </div>
      </b-modal>
      <b-modal :active.sync="isNewMaster" :width="960">
        <div class="modal-card" style="auto">
          <section class="modal-card-body">
            <el-form ref="form" label-width="100px" >
              <div class="columns is-narrow">
                <div class="column is-6">
                  <b-field label="Form Master">
                    <b-select v-model="editListData.form_id" placeholder="Select a Form Master" custom-class="controlHeight" required expanded>
                      <option
                        v-for="option in nameMaster"
                        :value="option.id"
                        :key="option.id">
                        {{ option.name }}
                      </option>
                    </b-select>
                  </b-field>
                </div>
                <div class="column is-6">
                  <b-field label="Participants">
                    <multiselect
                      v-model="participents"
                      :options="userMaster"
                      :multiple="true"
                      :max-height="150"
                      :max="4"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :hide-selected="true"
                      :preserve-search="true"
                      :preselect-first="false"
                      placeholder=""
                      label="name"
                      track-by="id"
                      select-label="">
                      <template slot="tag" slot-scope="props">
                        <span style="padding-right:5px; cursor: context-menu;"><span>{{ props.option.name }}</span>
                        <span style="cursor: pointer;font-size:8px" @click="props.remove(props.option)">❌</span></span>
                      </template>
                    </multiselect>
                  </b-field>
                </div>
              </div>
            </el-form>
            <el-form ref="form" label-width="100px">
              <div class="columns is-narrow">
                <div class="column is-6">
                  <b-field label="Place">
                    <b-select v-model="editListData.place_id" placeholder="Select a Place" custom-class="controlHeight" required expanded>
                      <option
                        v-for="option in placeMaster"
                        :value="option.id"
                        :key="option.id">
                        {{ option.name }}
                      </option>
                    </b-select>
                  </b-field>

                </div>
                <div class="column is-6">
                  <b-field label="Date & Time">
                    <el-date-picker
                      v-model="editListData.date_session"
                      required
                      placeholder="Pick a date & time"
                      format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      custom-class="controlHeight"
                      style="width: 100%"
                    />
                  </b-field>
                </div>
              </div>
            </el-form>
            <el-form ref="form" label-width="100px">
              <div class="columns is-narrow">
                <div class="column is-6">
                  <b-field label="Public Notes">
                    <b-input
                      v-model="editListData.notes_public"
                      maxlength="300"
                      type="textarea"/>
                  </b-field>
                </div>
                <div class="column is-6">
                  <b-field label="Instructor">
                    <b-select
                      v-model="editListData.instructor_id"
                      custom-class="controlHeight"
                      required
                      expanded>
                      <option
                        v-for="option in instructorMaster"
                        :value="option.id"
                        :key="option.id">
                        {{ option.name }}
                      </option>
                    </b-select>
                  </b-field>
                  <b-field label="Status">
                    <b-select
                      v-model="editListData.status"
                      custom-class="controlHeight"
                      required
                      expanded
                      disabled>
                      <option
                        v-for="option in objStatus"
                        :value="option.id"
                        :key="option.id">
                        {{ option.name }}
                      </option>
                    </b-select>
                  </b-field>
                </div>
              </div>
            </el-form>
          </section>
          <footer class="modal-card-foot" style="padding:10px;background-color:#FFFFFF;">
            <div class="control is-grouped is-pulled-right move-right">
              <a class="button is-rounded is-small" @click="isNewMaster = false">&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</a>
              <a class="button is-link is-rounded is-small" @click="saveDetails">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
            </div>
          </footer>
        </div>
      </b-modal>
      <b-loading :is-full-page="true" :active.sync="isUpdateMode" :can-cancel="false"/>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import dateUtil from 'element-ui/lib/utils/date'
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      dateRangeFilter: '',
      list: [],
      arrStatus: { 0: 'Scheduled', 1: 'New', 2: 'Not Completed', 3: 'Completed partly', 4: 'Completed Successfully', 9: 'Cancelled', 7: 'Approved' },
      isPaginated: true,
      isPaginationSimple: true,
      // defaultSortDirection: 'asc',
      sortField: 'form_master_name',
      sortOrder: 'asc',
      defaultSortOrder: 'asc',
      currentPage: 1,
      perPage: 25,
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: false,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: false,
      listLoading: false,
      isSearchTable: true,
      sortable: null,
      editListData: {},
      participents: [],
      openApproveProtocol: false,
      stausSelectedValue: [],
      instructorSelectedValue: [],
      placeMasterSelectedValue: [],
      userMasterSelectedValue: [],
      nameMasterSelectedValue: [],
      isUpdateMode: false,
      isShowAdvanceFilters: false,
      instructorMaster: [],
      placeMaster: [],
      userMaster: [],
      nameMaster: [],
      newListData: {
        id: '',
        user_name: '',
        form_master_name: '',
        date_session: '',
        place_name: '',
        notes_public: '',
        status: ''
      },
      isNewMaster: false,
      objStatus: [
        { id: 0, name: 'Scheduled' },
        { id: 1, name: 'New' },
        { id: 2, name: 'Not Completed' },
        { id: 3, name: 'Completed Partly' },
        { id: 4, name: 'Completed Successfully' },
        { id: 9, name: 'Cancelled' },
        { id: 7, name: 'Approved' }],
      columns: [
        {
          field: 'date_session',
          label: 'DATE',
          width: '100',
          sortable: true,
          isActive: false,
          isDesc: false
        },
        {
          field: 'form_master_name',
          label: 'NAME',
          width: '180',
          sortable: true,
          isActive: true,
          isDesc: false
        },
        {
          field: '',
          label: 'PARTICIPANTS',
          width: '180',
          sortable: false,
          isActive: false,
          isDesc: false
        },
        {
          field: 'user_name',
          label: 'INSTRUCTOR',
          width: '130',
          sortable: true,
          isActive: false,
          isDesc: false
        },
        {
          field: 'place_name',
          label: 'PLACE',
          width: '130',
          sortable: true,
          isActive: false,
          isDesc: false
        },
        {
          field: 'status',
          label: 'STATUS',
          width: '80',
          sortable: true,
          isActive: false,
          isDesc: false
        },
        {
          field: '',
          label: '',
          width: '100',
          isActive: false,
          isDesc: false
        }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'admin_id'
    ]),
    filteredList() {
      var dateObj = []
      var dateFilter = true
      if (this.dateRangeFilter === undefined || this.dateRangeFilter === null || this.dateRangeFilter.length < 2 || this.dateRangeFilter[0] === undefined || this.dateRangeFilter[1] === undefined) {
        dateFilter = false
      } else {
        if (this.dateRangeFilter[0] instanceof Date) {
          dateObj[0] = this.dateRangeFilter[0]
        } else {
          dateObj[0] = new Date(this.dateRangeFilter[0] + ' 00:00:00')
        }
        if (this.dateRangeFilter[1] instanceof Date) {
          dateObj[1] = this.dateRangeFilter[1]
        } else {
          dateObj[1] = new Date(this.dateRangeFilter[1] + ' 23:59:59')
        }
      }
      return this.list.filter(post => {
        var listDate = post.date_session
        if (listDate instanceof Date) {
          listDate = post.date_session
        } else {
          listDate = new Date(listDate)
        }
        var filterDate = false
        var filterStatus = false
        var filterName = false
        var filterInstructor = false
        var filterPlace = false
        if ((dateFilter === false || (dateFilter === true && dateObj[0] <= listDate && dateObj[1] >= listDate))) {
          filterDate = true
        }
        if (this.stausSelectedValue !== undefined && this.stausSelectedValue !== null && this.stausSelectedValue.length > 0) {
          for (var key in this.stausSelectedValue) {
            if (this.stausSelectedValue.hasOwnProperty(key)) {
              if (post.status === this.stausSelectedValue[key].id) {
                filterStatus = true
              }
            }
          }
        } else {
          filterStatus = true
        }
        /* Place Filter */
        if (this.placeMasterSelectedValue !== undefined && this.placeMasterSelectedValue !== null && this.placeMasterSelectedValue.length > 0) {
          for (key in this.placeMasterSelectedValue) {
            if (this.placeMasterSelectedValue.hasOwnProperty(key)) {
              if (post.place_id === this.placeMasterSelectedValue[key].id) {
                filterPlace = true
              }
            }
          }
        } else {
          filterPlace = true
        }
        /* Name Filter */
        if (this.nameMasterSelectedValue !== undefined && this.nameMasterSelectedValue !== null && this.nameMasterSelectedValue.length > 0) {
          for (key in this.nameMasterSelectedValue) {
            if (this.nameMasterSelectedValue.hasOwnProperty(key)) {
              if (post.form_id === this.nameMasterSelectedValue[key].id) {
                filterName = true
              }
            }
          }
        } else {
          filterName = true
        }
        /* Instructor Filter */
        if (this.instructorSelectedValue !== undefined && this.instructorSelectedValue !== null && this.instructorSelectedValue.length > 0) {
          for (key in this.instructorSelectedValue) {
            if (this.instructorSelectedValue.hasOwnProperty(key)) {
              if (post.instructor_id === this.instructorSelectedValue[key].id) {
                filterInstructor = true
              }
            }
          }
        } else {
          filterInstructor = true
        }
        if (filterDate === true && filterStatus === true && filterInstructor === true && filterName === true && filterPlace === true) {
          return post
        }
      })
    }
  },
  created() {
    this.fetchData()
    this.bindNameMaster()
    this.bindAllData()
  },
  methods: {
    fetchData() {
      if (!this.$store.getters.isLogedIn || !this.$store.getters.admin_id) {
        this.$store.dispatch('LogOut').then(() => {
          location.reload() // In order to re-instantiate the vue-router object to avoid bugs
        })
      }
      this.listLoading = true
      axios({
        url: process.env.BASE_API + '/protocol/get-protocol-master',
        method: 'post',
        withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.list = response.data.protocol_details_list
            this.loadDataAsync()
          } else {
            this.listLoading = false
            this.list = []
          }
        })
        .catch(e => {
          const self = this
          setTimeout(function() { self.openToast('Some Error Occured while loading data', 'danger') }, 200)
          this.listLoading = false
        })
    },
    openEditableModel(row, index) {
      if (this.list.length > index && index >= 0) {
        console.log(row)
        this.editListData = Object.assign({}, row)
        this.editListData.mapededUsers = []
        var thisPage = this
        this.editListData.admin_id = this.$store.getters.admin_id
        this.editListData.client_id = this.$store.getters.client_id
        this.participents = []
        row.participants.forEach(function(element) {
          thisPage.participents.push(element.user)
        })
        this.isNewMaster = true
      }
    },
    openNewModel() {
      this.editListData = {}
      this.participents = []
      this.editListData.id = ''
      this.editListData.status = 0
      this.editListData.admin_id = this.$store.getters.admin_id
      this.editListData.client_id = this.$store.getters.client_id
      this.isNewMaster = true
    },
    handleDateChange(idx, date, ele) {
      if (date === undefined || date === null || date.length < 2 || date[0] === undefined || date[1] === undefined) {
        ele = date
      } else {
        if (date[0] instanceof Date) {
          date[0] = dateUtil.format(date[0], 'yyyy-MM-dd')
        }
        if (date[1] instanceof Date) {
          date[1] = dateUtil.format(date[1], 'yyyy-MM-dd')
        }
      }
      ele = date
    },
    /* handleDateChangeSession(idx, date, ele) {
      var s=date.toString();
      //alert(s);
      if (date === undefined || date === null || date.length < 2 || date[0] === undefined || date[1] === undefined) {
        ele = date
      } else {
        if (date[0] instanceof Date) {
          date[0] = dateUtil.format(date[0], 'yyyy-MM-dd')
        }
        if (date[1] instanceof Date) {
          date[1] = dateUtil.format(date[1], 'yyyy-MM-dd')
        }
      }
      ele = s
    }, */
    openApproveProtocolModal(row) {
      this.openApproveProtocol = true
      this.editListData = row
    },
    updateStaus() {
      if (this.editListData.id !== undefined) {
        this.isUpdateMode = true
        var updateData = {}
        updateData.id = this.editListData.id
        updateData.admin_id = this.$store.getters.admin_id
        const params = new URLSearchParams()
        params.append('data', JSON.stringify(updateData))
        axios({
          url: process.env.BASE_API + '/protocol/approve-protocol-master',
          method: 'post',
          withCredentials: false,
          data: params,
          headers: {
          }
        })
          .then(response => {
            this.listLoading = false
            this.isUpdateMode = false
            const self = this
            if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
              this.openApproveProtocol = false
              this.fetchData()
              setTimeout(function() { self.openToast('Protocol Approved.', 'success') }, 200)
            } else {
              setTimeout(function() { self.openToast('Failed to Approve Protocol.', 'warning') }, 200)
            }
          })
          .catch(e => {
            const self = this
            setTimeout(function() { self.openToast('Some Error Occured.', 'danger') }, 200)
            this.listLoading = false
          })
      } else {
        alert('No Protocol Selected')
      }
    },
    saveDetails() {
      this.listLoading = true
      this.isUpdateMode = true
      const params = new URLSearchParams()
      const isNewRecord = (this.editListData.id === undefined || (this.editListData.id + '').trim().length === 0)
      this.editListData.users = this.participents
      params.append('data', JSON.stringify(this.editListData))
      axios({
        url: process.env.BASE_API + '/protocol/create-protocol-master',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          const self = this
          this.listLoading = false
          this.isUpdateMode = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            if (isNewRecord) {
              var newDataOBJ = response.data.protocol_details_list
              this.list.splice(0, 0, newDataOBJ)
            } else {
              const indexChange = this.list.findIndex(el => el.id === response.data.protocol_details_list.id)
              this.list.splice(indexChange, 1)
              this.list.splice(0, 0, response.data.protocol_details_list)
            }
            this.isNewMaster = false
            setTimeout(function() { self.openToast('Data Saved Successfully', 'success') }, 200)
          } else {
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          }
        })
        .catch(e => {
          const self = this
          this.listLoading = false
          this.isUpdateMode = false
          setTimeout(function() { self.openToast('Some Error Occured', 'danger') }, 200)
        })
    },
    sendMail(row) {
      const params = new URLSearchParams()
      this.isUpdateMode = true
      params.append('id', row.id)
      axios({
        url: process.env.BASE_API + '/protocol/generate-pdf',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          this.isUpdateMode = false
          this.listLoading = false
          const self = this
          if (response.data.status.trim().toUpperCase() !== 'SUCCESS') {
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          } else {
            setTimeout(function() { self.openToast('Mail Sent.', 'success') }, 200)
          }
        })
        .catch(e => {
          this.listLoading = false
          this.isUpdateMode = false
          const self = this
          setTimeout(function() { self.openToast('Some error occured while sending PDF.', 'danger') }, 200)
        })
    },
    downloadPDF(row) {
      const params = new URLSearchParams()
      params.append('id', row.id)
      axios({
        url: process.env.BASE_API + '/protocol/download-pdf',
        method: 'post',
        withCredentials: false,
        data: params,
        responseType: 'blob',
        headers: {
        }
      })
        .then(response => {
          const self = this
          if (response.status === 200) {
            const filename = 'protocol_reports.pdf'
            const blob = new Blob([response.data], { type: 'application/pdf' })
            if (typeof window.navigator.msSaveBlob !== 'undefined') {
              // IE workaround for "HTML7007: One or more blob URLs were
              // revoked by closing the blob for which they were created.
              // These URLs will no longer resolve as the data backing
              // the URL has been freed."
              window.navigator.msSaveBlob(blob, filename)
            } else {
              var blobURL = window.URL.createObjectURL(blob)
              var tempLink = document.createElement('a')
              tempLink.style.display = 'none'
              tempLink.href = blobURL
              tempLink.setAttribute('download', filename)
              // Safari thinks _blank anchor are pop ups. We only want to set _blank
              // target if the browser does not support the HTML5 download attribute.
              // This allows you to download files in desktop safari if pop up blocking
              // is enabled.
              if (typeof tempLink.download === 'undefined') {
                tempLink.setAttribute('target', '_blank')
              }
              document.body.appendChild(tempLink)
              tempLink.click()
              document.body.removeChild(tempLink)
              window.URL.revokeObjectURL(blobURL)
            }
            setTimeout(function() { self.openToast('PDF Downloaded.', 'success') }, 200)
          } else {
            setTimeout(function() { self.openToast('PDF not downloades please try again.', 'warning') }, 200)
          }
        })
        .catch(e => {
          console.log(e)
          this.listLoading = false
          const self = this
          setTimeout(function() { self.openToast('Some error occured while downloading PDF.', 'danger') }, 200)
        })
    },
    checkMove(field, order) {
      this.sortField = field
      this.loadDataAsync()
    },
    loadDataAsync() {
      var field = this.sortField
      var order = this.sortOrder
      for (var i in this.columns) {
        if (this.columns[i].field === field) {
          if (this.columns[i].isActive === true) {
            if (order === 'asc') {
              this.columns[i].isDesc = false
            } else {
              this.columns[i].isDesc = true
            }
          } else {
            order = 'asc'
            this.columns[i].isDesc = false
          }
          this.columns[i].isActive = true
        } else {
          this.columns[i].isActive = false
          this.columns[i].isDesc = false
        }
      }
      var isAsc = (order === 'asc')
      if (field.trim().toUpperCase() === 'FORM_MASTER_NAME') {
        this.list.sort(function(a, b) {
          var nameA = a.form_master_name.toLowerCase()
          var nameB = b.form_master_name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'USER_NAME') {
        this.list.sort(function(a, b) {
          var nameA = a.user_name.toLowerCase()
          var nameB = b.user_name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'PLACE_NAME') {
        this.list.sort(function(a, b) {
          var nameA = a.place_name.toLowerCase()
          var nameB = b.place_name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'STATUS') {
        var mythis = this
        this.list.sort(function(a, b) {
          var stat_a = mythis.objStatus.find((item) => item.id === a.status)
          var stat_b = mythis.objStatus.find((item) => item.id === b.status)
          var nameA = stat_a.name.toLowerCase()
          var nameB = stat_b.name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'DATE_SESSION') {
        this.list.sort(function(a, b) {
          var dateA = new Date(a.date_session)
          var dateB = new Date(b.date_session)
          return isAsc ? (dateA - dateB) : (dateB - dateA)
        })
      }
      this.sortOrder = isAsc ? 'desc' : 'asc'
    },
    rerender(orderField) {
      this.show = false
      this.$nextTick(() => {
        this.show = true
        this.isPaginated = true
        this.isPaginationSimple = true
        this.defaultSortDirection = 'asc'
        this.sortField = orderField
        this.currentPage = 1
        this.perPage = 25
        this.isEmpty = false
        this.isBordered = false
        this.isStriped = false
        this.isNarrowed = false
        this.isHoverable = false
        this.isFocusable = false
        this.isLoading = false
        this.hasMobileCards = false
        this.listLoading = false
        this.isSearchTable = true
        this.sortable = null
      })
    },
    showExtraFilters() {
      this.isShowAdvanceFilters = !this.isShowAdvanceFilters
    },
    bindAllData() {
      axios({
        url: process.env.BASE_API + '/protocol/get-all-data',
        method: 'get',
        withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.instructorMaster = response.data.metadata.instructors
            this.placeMaster = response.data.metadata.places
            this.userMaster = response.data.metadata.users
          } else {
            const self = this
            setTimeout(function() { self.openToast('Failed to load master data. Please try agian.', 'warning') }, 200)
          }
        })
        .catch(e => {
          const self = this
          setTimeout(function() { self.openToast('Some error occured.', 'danger') }, 200)
          this.listLoading = false
        })
    },
    bindNameMaster() {
      this.listLoading = true
      axios({
        url: process.env.BASE_API + '/protocol/get-form-master',
        method: 'get',
        withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.nameMaster = response.data.form_master_list
          } else {
            this.listLoading = false
          }
        })
        .catch(e => {
          const self = this
          setTimeout(function() { self.openToast('Some Error Occured while loading data', 'danger') }, 200)
          this.listLoading = false
        })
    },
    openToast(msg, type) {
      this.$toast.open({
        duration: 2000,
        message: msg,
        position: 'is-top-right',
        type: 'is-' + type
      })
    }
  }
}
</script>

<style>
body{
  color: #4a4a4a;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Calibri;
}
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}
table > thead{
  border-bottom: 1px solid black;
  border-style:hidden;
}
.b-table .table th.is-current-sort {
    border-color: #dbdbdb;
}
.b-table .table th.is-sortable:hover {
    border-color: #dbdbdb;
}
.checkbox-cell > label{
  width: 0px;
}
.checkbox-cell > label >span{
  width: 0px;
}
.table-wrapper > table > thead > tr > th :after{
    content: "-";
    display: block;
    line-height: 0.7em;
    color: transparent;
}
.table-wrapper > table > thead > tr > th{
    border-bottom-width: 0px;
}
.table-wrapper > table > thead{
    background-color: #F5F9FA;
}
.b-table .table {
	border: 0px;
}
.app-container .GPS {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: #363636;
  cursor: pointer;
  vertical-align: -0.3em;
}
.calMobile .dropdown-menu {
    position: fixed;
    width: calc(100vw - 40px);
    max-width: 460px;
    max-height: calc(100vh - 120px);
    top: 25% !important;
    left: 50% !important;
    bottom: auto !important;
    right: auto !important;
    -webkit-transform: translate3d(-50%, -25%, 0);
    transform: translate3d(-50%, -25%, 0);
    white-space: normal;
    overflow-y: auto;
}
.label {
  color: #4a4a4a;
  font-size: 0.8rem;
  font-weight: 400;
}
.move-right {
  margin-left: auto;
}
.field-label {
  text-align: left;
}
.app-container .multiselect__tags {
  min-height: 35px;
  padding-top: 2px;
  padding-right: 40px;
  padding-left: 2px;
}
/*For Custom Sorting Arrow */
span.icon.is-small {
  display : none ! important;
}
.app-container .GPSArrow {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.app-container .GPSArrow_desc {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
}
.app-container .GPSNotActive {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.field-label {
  margin-right: 0px!important;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .8s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#boxshadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}
/* Make the image fit the box */
#boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
}
#boxshadow::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}
.calender-div{z-index:1;}
</style>

<style scoped>
.icon-star{
  margin-right:2px;
}
.drag-handler{
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.show-d{
  margin-top: 15px;
}
</style>
