<template>
  <div class="app-container">
    <template>
      <b-table
        :data="list"
        :paginated="isPaginated"
        :per-page="perPage"
        :current-page.sync="currentPage"
        :pagination-simple="isPaginationSimple"
        :bordered="isBordered"
        :striped="isStriped"
        :narrowed="isNarrowed"
        :hoverable="isHoverable"
        :loading="isLoading"
        :focusable="isFocusable"
        :mobile-cards="hasMobileCards"
        :default-sort-direction="defaultSortDirection"
        :search-table="isSearchTable"
        default-sort="name">
        <template slot-scope="props">
          <b-table-column field="name" label="Name" width="200" sortable>
            {{ props.row.name }}
          </b-table-column>
          <b-table-column field="created_at" label="Created" width="50" sortable>
            {{ props.row.created_at }}
          </b-table-column>
          <b-table-column field="client_id" label="Created By" width="200" sortable>
            {{ props.row.client_id }}
          </b-table-column>
          <b-table-column field="sign_off" label="Sign Off" width="40" sortable>
            {{ props.row.sign_off }}
          </b-table-column>
          <b-table-column field="" label="Actions" width="40"/>
        </template>
      </b-table>
	  
	  <el-table 
	    :data="list"
        :paginated="isPaginated"
        :per-page="perPage"
        :current-page.sync="currentPage"
        :pagination-simple="isPaginationSimple"
        :bordered="isBordered"
        :striped="isStriped"
        :narrowed="isNarrowed"
        :hoverable="isHoverable"
        :loading="isLoading"
        :focusable="isFocusable"
        :mobile-cards="hasMobileCards"
        :default-sort-direction="defaultSortDirection"
        :search-table="isSearchTable"
        row-key="id" border fit style="width: 100%">
      <el-table-column label="#" width="40px">
        <template slot-scope="scope">
          <span><b-checkbox/></span>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="Name" sortable>
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
	  <el-table-column prop="created_at" label="Created" sortable="custom">
        <template slot-scope="scope">
          <span>{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>
	  <el-table-column prop="client_id" label="Created By" sortable>
       
      </el-table-column>
	  <el-table-column label="Sign Off" sortable="custom">
        <template slot-scope="scope">
          <span>{{ scope.row.sign_off }}</span>
        </template>
      </el-table-column>
	  <el-table-column label="Actions"/>
	  <el-table-column align="center" label="Drag" width="80">
        <template slot-scope="scope">
          <b-icon 
		    class="drag-handler"
            icon="arrow-all">
            </b-icon>
        </template>
      </el-table-column>
	  </el-table>
    </template>
  </div>
</template>

<script>
import { getList } from '@/api/table'
import axios from 'axios'
import Sortable from 'sortablejs'
export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      list: [],
      isPaginated: true,
      isPaginationSimple: true,
      defaultSortDirection: 'asc',
      currentPage: 1,
      perPage: 5,
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: false,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: false,
      listLoading: false,
      isSearchTable: true,
	  sortable: null,
	  oldList: [],
      newList: []
	}
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true
      axios({
        url: 'http://61.246.47.45:8013/api/protocol/get-form-master',
        method: 'get',
        withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          debugger; this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            alert(process.env.BASE_API)
            this.list = response.data.form_master_list
			this.oldList = this.list.map(v => v.id)
            this.newList = this.oldList.slice()
			this.$nextTick(() => {
          this.setSort()
        })
          } else {
            alert('Failed to load data. Please try agian.')
          }
        })
        .catch(e => {
          alert(e)
          this.listLoading = false
        })
    },
    setSort() {
      const el = document.querySelectorAll('.el-table__body-wrapper > table > tbody')[0]
      this.sortable = Sortable.create(el, {
        ghostClass: 'sortable-ghost', // Class name for the drop placeholder,
        setData: function(dataTransfer) {
          dataTransfer.setData('Text', '')
          // to avoid Firefox bug
          // Detail see : https://github.com/RubaXa/Sortable/issues/1012
        },
        onEnd: evt => {
          const targetRow = this.list.splice(evt.oldIndex, 1)[0]
          this.list.splice(evt.newIndex, 0, targetRow)

          // for show the changes, you can delete in you code
          const tempIndex = this.newList.splice(evt.oldIndex, 1)[0]
          this.newList.splice(evt.newIndex, 0, tempIndex)
        }
      })
    }
  }
}
</script>

<style>
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}
</style>

<style scoped>
.icon-star{
  margin-right:2px;
}
.drag-handler{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.show-d{
  margin-top: 15px;
}
</style>