<template>
  <div class="app-container">
    <template>
      <div class="columns is-narrow">
        <div class="column is-8">
          <b style="font-size:18px;">Syllabus List</b>
        </div>
      </div>
      <div class="columns is-narrow">
        <div class="column horizontal is-12">
          <b-field grouped position="is-right">
            <b-field>
              <p class="control">
                Page Size&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <b-select v-model="perPage" size="is-small">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
              </b-select>
              &nbsp;&nbsp;&nbsp;&nbsp;<a class="button is-link is-rounded is-small" title="Add New Syllabus" @click="openNewModel()">&nbsp;&nbsp;+ Create&nbsp;&nbsp;</a>
            </b-field>
          </b-field>
        </div>
      </div>
      <div class="columns is-narrow">
        <div class="column is-12">
          <span v-if="show">
            <b-table
              :loading="listLoading"
              :data="filteredList"
              :paginated="isPaginated"
              :per-page="perPage"
              :current-page.sync="currentPage"
              :pagination-simple="isPaginationSimple"
              :bordered="isBordered"
              :striped="isStriped"
              :narrowed="isNarrowed"
              :hoverable="isHoverable"
              :focusable="isFocusable"
              :mobile-cards="hasMobileCards"
              :search-table="isSearchTable"
              :columns="columns"
              :default-sort-direction="defaultSortOrder"
              backend-sorting
              @sort="checkMove">
              <template slot-scope="props" slot="header">
                <div>
                  {{ props.column.label }}
                  <svg-icon v-if="props.column.sortable === true && props.column.isDesc === true && props.column.isActive === true" icon-class="arrow" class="GPSArrow_desc"/>
                  <svg-icon v-if="props.column.sortable === true && props.column.isDesc === false && props.column.isActive === true" icon-class="arrow" class="GPSArrow"/>
                  <svg-icon v-if="props.column.sortable === true && props.column.isDesc === false && props.column.isActive === false" icon-class="sortArrow" class="GPSNotActive"/>
                </div>
              </template>
              <template slot-scope="props">
                <b-table-column>
                  {{ props.row.name }}
                </b-table-column>
                <b-table-column>
                  <span v-html="props.row.text"/>
                </b-table-column>
                <b-table-column>
                  {{ props.row.created_at }}
                </b-table-column>
                <b-table-column>
                  <span @click="openEditableModel(props.row,props.index)">
                    <b-icon class="GPS" icon="pencil" title="Edit"/>
                  </span>
                  <span @click="openDeleteModel(props.row)">
                    <b-icon class="GPS" icon="delete" title="Delete"/>
                  </span>
                </b-table-column>
              </template>
              <template slot="empty">
                <section class="section">
                  <div class="content has-text-grey has-text-centered">
                    <p>No Data Found.</p>
                  </div>
                </section>
              </template>
            </b-table>
          </span>
        </div>
      </div>
      <b-modal :active.sync="openDeleteProtocol" :width="960">
        <div class="modal-card" style="auto">
          <section class="modal-card-body">
            <el-form ref="form" label-width="100px" >
              <div class="columns is-narrow">
                <div class="column">
                  <b style="font-size:18px;">
                    Confirm that the selected Syllabus shall be removed
                  </b>
                </div>
              </div>
            </el-form>
          </section>
          <footer class="modal-card-foot" style="padding:10px;background-color:#FFFFFF;">
            <div class="control is-grouped is-pulled-right move-right">
              <a class="button is-link is-rounded is-small" @click="deleteProtocol">&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;</a>
              <a class="button is-rounded is-small" @click="openDeleteProtocol = false">&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;</a>
            </div>
          </footer>
        </div>
      </b-modal>
      <b-modal :active.sync="isNewMaster" :width="1080">
        <div class="modal-card" style="auto">
          <section class="modal-card-body">
            <el-form ref="form" label-width="100px" >
              <div class="columns is-narrow">
                <div class="column is-6">
                  <b-field label="Name">
                    <b-input v-model="editListData.name" custom-class="controlHeight" required/>
                  </b-field>
                </div>
                <div class="column is-6"/>
              </div>
            </el-form>
            <el-form ref="form" label-width="100px">
              <div class="columns is-narrow">
                <div class="column is-12">
                  <b-field label="Text">
                    <vue-editor v-model="editListData.text"/>
                  </b-field>
                </div>
              </div>
            </el-form>
          </section>
          <footer class="modal-card-foot" style="padding:10px;background-color:#FFFFFF;">
            <div class="control is-grouped is-pulled-right move-right">
              <a class="button is-rounded is-small" @click="isNewMaster = false">&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</a>
              <a class="button is-link is-rounded is-small" @click="saveDetails">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</a>
            </div>
          </footer>
        </div>
      </b-modal>
      <b-loading :is-full-page="true" :active.sync="isUpdateMode" :can-cancel="false"/>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import { VueEditor } from 'vue2-editor'
export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  components: {
    VueEditor
  },
  data() {
    return {
      list: [],
      isPaginated: true,
      isPaginationSimple: true,
      sortField: 'name',
      sortOrder: 'asc',
      defaultSortOrder: 'asc',
      currentPage: 1,
      perPage: 25,
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: false,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: false,
      listLoading: false,
      isSearchTable: true,
      sortable: null,
      CategoryMaster: [],
      isUpdateMode: false,
      show: true,
      tinyOptions: {
        'height': 250
      },
      newListData: {
        id: '',
        name: '',
        text: ''
      },
      editListData: [],
      isNewMaster: false,
      openChangeStatus: false,
      openDeleteProtocol: false,
      selectedIDtoDeleteProtocol: '',
      columns: [
        {
          field: 'name',
          label: 'NAME',
          width: '200',
          sortable: true,
          isActive: true,
          isDesc: false
        },
        {
          field: 'text',
          label: 'TEXT',
          width: '120',
          sortable: true,
          isActive: false,
          isDesc: false
        },
        {
          field: 'created_at',
          label: 'CREATED',
          width: '100',
          sortable: true,
          isActive: false,
          isDesc: false
        },
        {
          field: '',
          label: 'ACTIONS',
          width: '80',
          isActive: false,
          isDesc: false
        }
      ]
    }
  },
  computed: {
    filteredList() {
      return this.list
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      if (!this.$store.getters.isLogedIn) {
        this.$store.dispatch('LogOut').then(() => {
          location.reload() // In order to re-instantiate the vue-router object to avoid bugs
        })
      }
      this.listLoading = true
      axios({
        url: process.env.BASE_API + '/protocol/get-syllabus',
        method: 'get',
        withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.list = response.data.syllabus_list
            this.loadDataAsync()
          } else {
            this.listLoading = false
            this.list = []
          }
        })
        .catch(e => {
          const self = this
          this.list = []
          setTimeout(function() { self.openToast('Some Error Occured while loading data', 'danger') }, 200)
          this.listLoading = false
        })
    },
    openEditableModel(row, index) {
      if (this.list.length > index && index >= 0) {
        this.editListData = Object.assign({}, row)
        this.editListData.admin_id = this.$store.getters.admin_id
        this.editListData.client_id = this.$store.getters.client_id
        this.isNewMaster = true
      }
    },
    openNewModel() {
      this.editListData = {}
      this.editListData.id = ''
      this.editListData.admin_id = this.$store.getters.admin_id
      this.editListData.client_id = this.$store.getters.client_id
      this.isNewMaster = true
    },
    saveDetails() {
      this.listLoading = true
      this.isUpdateMode = true
      const params = new URLSearchParams()
      const isNewRecord = (this.editListData.id === undefined || (this.editListData.id + '').trim().length === 0)
      params.append('data', JSON.stringify(this.editListData))
      axios({
        url: process.env.BASE_API + '/protocol/create-syllabus',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          const self = this
          this.listLoading = false
          this.isUpdateMode = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            if (isNewRecord) {
              var newDataOBJ = response.data.syllabus_list
              this.list.splice(0, 0, newDataOBJ)
            } else {
              const indexChange = this.list.findIndex(el => el.id === response.data.syllabus_list.id)
              this.list.splice(indexChange, 1, response.data.syllabus_list)
            }
            this.isNewMaster = false
            setTimeout(function() { self.openToast('Data Saved Successfully', 'success') }, 200)
          } else {
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          }
        })
        .catch(e => {
          const self = this
          this.listLoading = false
          this.isUpdateMode = false
          setTimeout(function() { self.openToast('Some Error Occured', 'danger') }, 200)
        })
    },
    checkMove(field, order) {
      this.sortField = field
      this.loadDataAsync()
    },
    deleteProtocol() {
      this.listLoading = true
      this.isUpdateMode = true
      const params = new URLSearchParams()
      params.append('id', this.selectedIDtoDeleteProtocol)
      axios({
        url: process.env.BASE_API + '/protocol/delete-syllabus',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          const self = this
          this.isUpdateMode = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.openDeleteProtocol = false
            this.sortOrder = (this.sortOrder === 'asc') ? 'desc' : 'asc'
            this.fetchData()
            setTimeout(function() { self.openToast('Syllabus Deleted Successfully', 'success') }, 200)
          } else {
            this.openDeleteProtocol = false
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          }
        })
        .catch(e => {
          this.isUpdateMode = false
          this.listLoading = false
          const self = this
          setTimeout(function() { self.openToast('Some Error Occured', 'danger') }, 200)
        })
    },
    openDeleteModel(row) {
      this.selectedIDtoDeleteProtocol = row.id
      this.openDeleteProtocol = true
    },
    openToast(msg, type) {
      this.$toast.open({
        duration: 2000,
        message: msg,
        position: 'is-top-right',
        type: 'is-' + type
      })
    },
    loadDataAsync() {
      var field = this.sortField
      var order = this.sortOrder
      for (var i in this.columns) {
        if (this.columns[i].field === field) {
          if (this.columns[i].isActive === true) {
            if (order === 'asc') {
              this.columns[i].isDesc = false
            } else {
              this.columns[i].isDesc = true
            }
          } else {
            order = 'asc'
            this.columns[i].isDesc = false
          }
          this.columns[i].isActive = true
        } else {
          this.columns[i].isActive = false
          this.columns[i].isDesc = false
        }
      }
      var isAsc = (order === 'asc')
      if (field.trim().toUpperCase() === 'NAME') {
        this.list.sort(function(a, b) {
          var nameA = a.name.toLowerCase()
          var nameB = b.name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'CREATED_AT') {
        this.list.sort(function(a, b) {
          var dateA = new Date(a.created_at)
          var dateB = new Date(b.created_at)
          return isAsc ? (dateA - dateB) : (dateB - dateA)
        })
      } else if (field.trim().toUpperCase() === 'TEXT') {
        this.list.sort(function(a, b) {
          var nameA = a.text.toLowerCase()
          var nameB = b.text.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      }
      this.sortOrder = isAsc ? 'desc' : 'asc'
    },
    rerender(orderField) {
      this.show = false
      this.$nextTick(() => {
        this.show = true
        this.isPaginated = true
        this.isPaginationSimple = true
        this.defaultSortDirection = 'asc'
        this.sortField = orderField
        this.currentPage = 1
        this.perPage = 25
        this.isEmpty = false
        this.isBordered = false
        this.isStriped = false
        this.isNarrowed = false
        this.isHoverable = false
        this.isFocusable = false
        this.isLoading = false
        this.hasMobileCards = false
        this.listLoading = false
        this.isSearchTable = true
        this.sortable = null
      })
    }
  }
}
</script>

<style>
body{
  color: #4a4a4a;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Calibri;
}
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}
table > thead{
  border-bottom: 1px solid black;
  border-style:hidden;
}
.b-table .table th.is-current-sort {
    border-color: #dbdbdb;
}
.b-table .table th.is-sortable:hover {
    border-color: #dbdbdb;
}
.checkbox-cell > label{
  width: 0px;
}
.checkbox-cell > label >span{
  width: 0px;
}
.table-wrapper > table > thead > tr > th :after{
    content: "-";
    display: block;
    line-height: 0.7em;
    color: transparent;
}
.table-wrapper > table > thead > tr > th{
    border-bottom-width: 0px;
}
.table-wrapper > table > thead{
    background-color: #F5F9FA;
}
.b-table .table {
  border: 0px;
}
.app-container .GPS {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: #363636;
  cursor: pointer;
  vertical-align: -0.3em;
}
span.icon.is-small {
  display : none ! important;
}
.calMobile .dropdown-menu {
    position: fixed;
    width: calc(100vw - 40px);
    max-width: 460px;
    max-height: calc(100vh - 120px);
    top: 25% !important;
    left: 50% !important;
    bottom: auto !important;
    right: auto !important;
    -webkit-transform: translate3d(-50%, -25%, 0);
    transform: translate3d(-50%, -25%, 0);
    white-space: normal;
    overflow-y: auto;
}
.label {
  color: #4a4a4a;
  font-size: 0.8rem;
  font-weight: 400;
}
.move-right {
  margin-left: auto;
}
/*For Custom Sorting Arrow */
.app-container .GPSArrow {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.app-container .GPSArrow_desc {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
}
.app-container .GPSNotActive {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
controlHeight {
  height: 2.8em!important;
}
#boxshadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}
/* Make the image fit the box */
#boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
}
#boxshadow::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}
</style>

<style scoped>
.icon-star{
  margin-right:2px;
}
.drag-handler{
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.show-d{
  margin-top: 15px;
}
</style>
