<template>
  <div id="app">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">
      <div id="pwd-container" class="container is-fullhd">
        <div class="columns is-narrow">
          <div class="column is-half" style="padding-bottom: 0px;">
            <div class="hero is-fullheight loginImage">
              <div class="hero-body">
                <div id="heroBody"/>
              </div>
            </div>
          </div>
          <div class="column is-half" style="padding-bottom: 0px;">
            <div class="hero is-fullheight">
              <div class="hero-body">
                <div class="container">
                  <div class="tile">
                    <div class="tile is-vertical is-3"/>
                    <div class="tile is-vertical is-parent is-6">
                      <div class="tile is-child">
                        <span class="has-text-grey is-size-5">Sign into your account</span>
                        <hr>
                        <b-field label="Work Mail" custom-class="is-small has-text-grey-light">
                          <el-input v-model="loginForm.username" name="username" type="text" auto-complete="on" placeholder="name@email.com" />
                        </b-field>
                        <b-field label="Password" custom-class="is-small has-text-grey-light">
                          <el-input
                            :type="pwdType"
                            v-model="loginForm.password"
                            name="password"
                            auto-complete="on"
                            placeholder="password"
                            @keyup.enter.native="handleLogin" />
                        </b-field>
                        <div class="field">
                          <div class="level">
                            <div class="level-left">
                              <b-checkbox :value="true" type="is-info" class="has-text-grey-light">Remember</b-checkbox>
                            </div>
                            <div class="level-right">
                              <a href="#">Forget Password?</a>
                            </div>
                          </div>
                        </div>
                        <div class="field">
                          <el-button :loading="loading" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
                            Sign in
                          </el-button>
                        </div>
                        <b-field label="Powered by Scandlearn" custom-class="is-small has-text-centered has-text-grey-light"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </el-form>
  </div>
</template>

<script>
import { isvalidUsername } from '@/utils/validate'
export default {
  name: 'Login',
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!isvalidUsername(value)) {
        callback(new Error('Please enter the correct username'))
      } else {
        callback()
      }
    }
    const validatePass = (rule, value, callback) => {
      if (value.length < 5) {
        callback(new Error('Password cannot be less than 5 digits'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        username: 'admin',
        password: 'admin'
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePass }]
      },
      loading: false,
      pwdType: 'password'
    }
  },
  methods: {
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      } else {
        this.pwdType = 'password'
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('Login', this.loginForm).then(() => {
            this.loading = false
            console.log(this.$store.getters.roles)
            if (this.$store.getters.roles === 'admin') {
              this.$router.push({ path: '/importMaster/index' })
            } else {
              alert('please login with admin credentials')
            }
          }).catch(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style>
#app {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
.loginImage {
    /* The image used */
    background-image: url("../../images/login_quotes.png");

   /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

