<template>
  <div class="app-container">
    <template>
      <div class="columns is-narrow" style="margin-bottom:0px;">
        <div class="column is-8">
          <b style="font-size:18px;"><span v-if="this.$route.query.btnid ===0">Erpwood Master Details List</span>
            <span v-else>
              <span v-if="this.$route.query.btnid ===1"> Erpwood Telly List</span>
              <span v-else>Erpwood Non-Telly List</span>
            </span>
          </b>
        </div>
      </div>
      <div style="margin-top:0px;position: relative;-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);padding: 10px;background-color: #9e9e9e17;">
        <div class="columns is-narrow">
          <div class="column is-5" style="margin-top:3px">
            <b style="font-size:16px;">Name :</b> {{ FormMasterData.name }}
          </div>
        </div>
      </div>
      <div class="columns is-narrow">
        <div class="column is-12"/>
      </div>
      <div class="columns is-narrow">
        <div class="column horizontal is-12">
          <b-field grouped position="is-right">
            <b-field>
              <p class="control">
                Page Size&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
              <b-select v-model="perPage" size="is-small">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
              </b-select>
              &nbsp;&nbsp;&nbsp;&nbsp;<a class="button is-link is-rounded is-small" title="Add New Form Detail" @click="addNewRow()">&nbsp;&nbsp;+ Create&nbsp;&nbsp;</a>
              &nbsp;&nbsp;&nbsp;&nbsp;<a v-if ="this.$route.query.btnid ===2" class="merge button is-link is-rounded is-small" title="Add New Form Detail" @click="OpenMergePage()" >&nbsp;&nbsp; Merge &nbsp;&nbsp;</a>
            </b-field>
          </b-field>
        </div>
      </div>
      <span v-if="show">
        <b-table
          :loading="listLoading"
          :data="filteredList"
          :paginated="isPaginated"
          :per-page="perPage"
          :current-page.sync="currentPage"
          :pagination-simple="isPaginationSimple"
          :bordered="isBordered"
          :striped="isStriped"
          :narrowed="isNarrowed"
          :hoverable="isHoverable"
          :focusable="isFocusable"
          :mobile-cards="hasMobileCards"
          :search-table="isSearchTable"
          :columns="columns"
          :default-sort-direction="defaultSortOrder"
          backend-sorting
          row-key="sort_order"
          @sort="checkMove">
          <template slot-scope="props" slot="header">
            <div>
              {{ props.column.label }}
              <svg-icon v-if="props.column.sortable === true && props.column.isDesc === true && props.column.isActive === true" icon-class="arrow" class="GPSArrow_desc"/>
              <svg-icon v-if="props.column.sortable === true && props.column.isDesc === true && props.column.isActive === true" icon-class="arrow" class="GPSArrow_desc"/>
              <svg-icon v-if="props.column.sortable === true && props.column.isDesc === true && props.column.isActive === true" icon-class="sortArrow" class="GPSArrow_desc"/>
              <svg-icon v-if="props.column.sortable === true && props.column.isDesc === true && props.column.isActive === true" icon-class="sortArrow" class="GPSArrow_desc"/>
              <svg-icon v-if="props.column.sortable === true && props.column.isDesc === false && props.column.isActive === false" icon-class="sortArrow" class="GPSNotActive"/>
            </div>
          </template>
          <template slot-scope="props">
            <b-table-column @dblclick.native="onRowdblClickText(props.row)">
              <template v-if="props.row.edit_text==true">
                <b-input v-focus v-model="editRowData.name" placeholder="Text" size="is-small" @blur="saveRecordText(props.row)"/>
              </template>
              <span v-else>
                {{ clickedBtn == 0 ? props.row.base.Barcode : props.row.process.Barcode }}
              </span>
            </b-table-column>
            <!-- <b-table-column @dblclick.native="onRowdblClickType(props.row)">
              <template v-if="props.row.edit_type==true">
                <b-select
                  v-focus
                  v-model="editRowData.type_id"
                  placeholder="Select a Type"
                  size="is-small"
                  expanded
                  @input="changeType(editRowData)"
                  @blur="saveRecordType(props.row)">
                  <option
                    v-for="option in typeMaster"
                    :value="option.id"
                    :key="option.id">
                    {{ option.name }}
                  </option>
                </b-select>
              </template>
              <span v-else>{{ props.row.base.LotNumber }}</span>
            </b-table-column> -->
            <b-table-column @dblclick.native="onRowdblClickText(props.row)">
              <template v-if="props.row.edit_text==true">
                <b-input v-focus v-model="editRowData.name" placeholder="Text" size="is-small" @blur="saveRecordText(props.row)"/>
              </template>
              <span v-else>
                {{ clickedBtn == 0 ? props.row.base.AvgSED : props.row.process.AvgSED }}
              </span>
            </b-table-column>
            <b-table-column @dblclick.native="onRowdblClickText(props.row)">
              <template v-if="props.row.edit_text==true">
                <b-input v-focus v-model="editRowData.name" placeholder="Text" size="is-small" @blur="saveRecordText(props.row)"/>
              </template>
              <span v-else>
                {{ clickedBtn == 0 ? props.row.base.CutLength : props.row.process.CutLength }}
                <!-- <span v-if="!props.row.base.AvgSED== null">{{ props.row.base.CutLength }}</span><span v-else>{{ props.row.process.CutLength }}</span> -->
              </span>
            </b-table-column>
            <b-table-column @dblclick.native="onRowdblClickText(props.row)">
              <template v-if="props.row.edit_text==true">
                <b-input v-focus v-model="editRowData.name" placeholder="Text" size="is-small" @blur="saveRecordText(props.row)"/>
              </template>
              <span v-else>{{ clickedBtn == 0 ? props.row.base.Volume : props.row.process.Volume }}
                <!-- <span v-if="!props.row.base.AvgSED== null">{{ props.row.base.Volume }}</span><span v-else>{{ props.row.process.Volume }}</span> -->
              </span>
            </b-table-column>
            <b-table-column>
              <span v-if="props.row.edit_type == true && isAddNewMode == true">
                <button class="button is-info is-small" title="Cancel" @click="oncancelEditRow(props.row)">
                  <b-icon size="is-small" icon="sync"/>
                  <span>Cancel</span>
                </button>
                <button class="button is-success is-small" title="Save" @click.once="saveNewRow(props.row)">
                  <b-icon size="is-small" icon="floppy"/>
                  <span>Save</span>
                </button>
              </span>
              <span v-else>
                <b-icon class="GPS" icon="arrow-all" title="Change Row Order"/>
                <span @click="openDeleteModal(props.row)">
                  <b-icon class="GPS" icon="delete" title="Delete"/>
                </span>
              </span>
            </b-table-column>
          </template>
          <template slot="empty">
            <section class="section">
              <div class="content has-text-grey has-text-centered">
                <p>No Data Found.</p>
              </div>
            </section>
          </template>
        </b-table>
      </span>
      <b-modal :active.sync="openSortConfirmModal" :width="960">
        <div class="modal-card" style="auto">
          <section class="modal-card-body">
            <el-form ref="form" label-width="100px" >
              <div class="columns is-narrow">
                <div class="column">
                  <b style="font-size:18px;">
                    The data is not sorted by Sequence No. To enable drag Do You Want to Sort data by Sorting Sequence no.?
                  </b>
                </div>
              </div>
            </el-form>
          </section>
          <footer class="modal-card-foot" style="padding:10px;background-color:#FFFFFF;">
            <div class="control is-grouped is-pulled-right move-right">
              <a class="button is-link is-rounded is-small" @click="sortDataSeqNo()">&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;</a>
              <a class="button is-rounded is-small" @click="openSortConfirmModal = false">&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;</a>
            </div>
          </footer>
        </div>
      </b-modal>
      <b-modal :active.sync="isOpenDeleteModal" :width="960">
        <div class="modal-card" style="auto">
          <section class="modal-card-body">
            <el-form ref="form" label-width="100px" >
              <div class="columns is-narrow">
                <div class="column">
                  <b style="font-size:18px;">
                    Confirm that the selected form detail shall be removed
                  </b>
                </div>
              </div>
            </el-form>
          </section>
          <footer class="modal-card-foot" style="padding:10px;background-color:#FFFFFF;">
            <div class="control is-grouped is-pulled-right move-right">
              <a class="button is-link is-rounded is-small" @click="deleteRow()">&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;</a>
              <a class="button is-rounded is-small" @click="isOpenDeleteModal = false">&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;</a>
            </div>
          </footer>
        </div>
      </b-modal>
      <b-loading :is-full-page="true" :active.sync="isUpdateMode" :can-cancel="false"/>
    </template>
  </div>
</template>
<script>
import axios from 'axios'
import Sortable from 'sortablejs'
import Vue from 'vue'
export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: {
    focus: {
      inserted: function(el) {
        Vue.nextTick(() => {
          if (el.firstChild.tagName.toUpperCase() === 'INPUT') {
            el.firstChild.focus()
          } else {
            el.firstChild.firstChild.focus()
          }
        })
      }
    }
  },
  data() {
    return {
      clickedBtn: this.$route.query.btnid,
      FormMasterData: [],
      list: [],
      isPaginated: true,
      arrTypes_Type: { 0: 'Divider', 1: 'Text', 2: '1..10' },
      isPaginationSimple: true,
      defaultSortOrder: 'asc',
      sortField: 'sort_order',
      sortOrder: 'asc',
      currentPage: 1,
      perPage: 25,
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: false,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: false,
      listLoading: false,
      isSearchTable: true,
      sortable: null,
      oldList: [],
      type_types: '',
      newList: [],
      typeMaster: [],
      editRowData: [],
      isEditMode: false,
      isAddNewMode: false,
      isDefaultSortOrder: false,
      openSortConfirmModal: false,
      isDragMove: false,
      selectedIDtoDelete: '',
      isOpenDeleteModal: false,
      show: true,
      isSavingMod: false,
      isUpdateMode: false,
      columns: [
        {
          field: 'name',
          label: 'Barcode',
          width: '220',
          sortable: false,
          isActive: false,
          isDesc: false
        },
        {
          field: 'type_name',
          label: 'SED',
          width: '100',
          sortable: false,
          isActive: false,
          isDesc: false
        },
        {
          field: 'type_name',
          label: 'Length',
          width: '100',
          sortable: false,
          isActive: false,
          isDesc: false
        },
        {
          field: 'type_name',
          label: 'Volume',
          width: '100',
          sortable: false,
          isActive: false,
          isDesc: false
        },
        // {
        //   field: 'lookupdata',
        //   label: '(Lookup Data)',
        //   width: '150',
        //   sortable: false,
        //   isActive: false,
        //   visible: false,
        //   isDesc: false
        // },
        // {
        //   field: 'test',
        //   label: '',
        //   width: '50',
        //   sortable: false,
        //   isActive: false,
        //   visible: true,
        //   isDesc: false
        // },
        // {
        //   field: 'Optional',
        //   label: 'Optional',
        //   width: '120',
        //   sortable: false,
        //   isActive: false,
        //   isDesc: false
        // },
        {
          field: '',
          label: 'Actions',
          width: '100',
          isActive: false,
          isDesc: false
        }
        // {
        //   field: 'sort_order',
        //   label: 'Sort Order',
        //   width: '20',
        //   sortable: false,
        //   visible: false,
        //   numeric: true,
        //   isActive: false,
        //   isDesc: false
        // }
      ]
    }
  },
  computed: {
    filteredList() {
      return this.list
    }
  },
  created() {
    this.FormMasterData = this.$route.query.FormMasterData
    // btnId = this.$route.query.btnid
    this.fetchData(this.$route.query.btnid)
    // this.showDetail()
    // if(btnId === 0){
    //    this.fetchData()
    // }else{
    //   this.tallyRecord()
    // }
    // this.tallyRecord()
    // this.bindAllMasterData()
  },
  methods: {
    fetchData(actionId) {
      if (!this.$store.getters.isLogedIn) {
        this.$store.dispatch('LogOut').then(() => {
          location.reload() // In order to re-instantiate the vue-router object to avoid bugs
        })
      }
      this.oldList = []
      this.newList = []
      const params = new URLSearchParams()
      params.append('masterId', this.FormMasterData._id)
      this.listLoading = true
      var newurl = ' '
      if (actionId === 0) {
        newurl = process.env.BASE_API + '/fetchDetail'
      } else {
        if (actionId === 1) {
          newurl = process.env.BASE_API + '/tallyRecord'
        } else {
          newurl = process.env.BASE_API + '/nontallyRecord'
        }
      }
      axios({
        url: newurl,
        method: 'post',
        data: params,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.list = response.data.master_detail
            this.sortField = 'sort_order'
            this.sortOrder = 'asc'
            this.loadDataAsync()
            this.isDefaultSortOrder = false
            this.isDragMove = false
            this.oldList = this.list.map(v => v.id)
            this.newList = this.oldList.slice()
            this.$nextTick(() => {
              this.setSort()
            })
          } else {
            this.list = []
          }
        })
        .catch(e => {
          const self = this
          setTimeout(function() { self.openToast('Some Error Occured while loading data', 'danger') }, 200)
          this.list = []
          this.listLoading = false
        })
    },
    OpenMergePage() {
      console.log(this.$route.query.FormMasterData)
      var master_row = this.$route.query.FormMasterData
      this.$router.push({ path: '/mergeNonTellyRecord/index', query: { NonTellyRow: master_row }})
    },
    setSort() {
      const el = document.querySelectorAll('.table-wrapper > table > tbody')[0]
      this.sortable = Sortable.create(el, {
        ghostClass: 'sortable-ghost', // Class name for the drop placeholder,
        setData: function(dataTransfer) {
          dataTransfer.setData('Text', '')
          // to avoid Firefox bug
          // Detail see : https://github.com/RubaXa/Sortable/issues/1012
        },
        onMove: evt => {
          if (this.isDefaultSortOrder === true) {
            this.openSortConfirmModal = true
            return false
          }
        },
        onEnd: evt => {
          if (this.isDefaultSortOrder === true) {
            this.openSortConfirmModal = true
            return false
          }
          var cgangeID_newOrder = this.newList[evt.newIndex]
          const targetRow = this.list.splice(evt.oldIndex, 1)[0]
          this.list.splice(evt.newIndex, 0, targetRow)
          this.isDragMove = true
          // for show the changes, you can delete in you code
          const tempIndex = this.newList.splice(evt.oldIndex, 1)[0]
          this.newList.splice(evt.newIndex, 0, tempIndex)
          var obj = {}
          var changeID = this.newList[evt.newIndex]
          obj.id = changeID
          const objCurr = this.list.find(o => o.id === changeID)
          if (objCurr === undefined || objCurr === null) {
            return
          }
          obj.oldSeq = objCurr.sort_order
          const objLastObj = this.list.find(o => o.id === cgangeID_newOrder)
          if (objLastObj === undefined || objLastObj === null) {
            return
          }
          obj.newSeq = objLastObj.sort_order
          this.saveSort(obj)
        }
      })
    },
    addNewRow() {
      if (this.isEditMode === true) {
        const self = this
        setTimeout(function() { self.openToast('Please finish pending editing first', 'warning') }, 200)
      } else {
        var newObj = {}
        newObj.edit_type = true
        newObj.edit_text = true
        newObj.id = ''
        newObj.optional = 'no'
        newObj.type_name = ''
        newObj.type_id = ''
        this.type_types = ''
        this.isEditMode = true
        this.list.splice(0, 0, newObj)
        this.editRowData = {}
        this.isAddNewMode = true
      }
    },
    onRowdblClickText(row) {
      var currentMod = row.edit_text
      if (row.id === undefined || (row.id + '').trim().length === 0) {
        return
      }
      for (var i in this.list) {
        if ((this.list[i].id === undefined || (this.list[i].id + '').trim().length === 0) && (!(row.id === undefined || (row.id + '').trim().length === 0))) {
          const self = this
          setTimeout(function() { self.openToast('Please finish pending editing first', 'warning') }, 200)
          return
        }
        this.list[i].edit_type = false
        this.list[i].edit_text = false
      }
      this.isEditMode = !currentMod
      this.editRowData = {}
      this.editRowData.name = row.name
      this.editRowData.type_id = row.type_id
      this.editRowData.type_name = row.type_name
      this.editRowData.id = row.id
      this.editRowData.type_types = row.type_types
      this.type_types = row.type_types
      row.edit_text = !currentMod
    },
    // onRowdblClickType(row) {
    //   var currentMod = row.edit_type
    //   if (row.id === undefined || (row.id + '').trim().length === 0) {
    //     return
    //   }
    //   for (var i in this.list) {
    //     if (this.list[i].id === undefined || (this.list[i].id + '').trim().length === 0) {
    //       const self = this
    //       setTimeout(function() { self.openToast('Please finish pending editing first', 'warning') }, 200)
    //       return
    //     }
    //     this.list[i].edit_type = false
    //     this.list[i].edit_text = false
    //   }
    //   this.isEditMode = !currentMod
    //   this.editRowData = {}
    //   this.editRowData.name = row.name
    //   this.editRowData.type_id = row.type_id
    //   this.editRowData.type_name = row.type_name
    //   this.editRowData.id = row.id
    //   this.editRowData.type_types = row.type_types
    //   this.type_types = row.type_types
    //   row.edit_type = !currentMod
    // },
    // bindAllMasterData() {
    //   axios({
    //     url: process.env.BASE_API + '/protocol/get-all-data',
    //     method: 'get',
    //     withCredentials: false,
    //     headers: {
    //     }
    //   })
    //     .then(response => {
    //       this.listLoading = false
    //       if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
    //         this.typeMaster = response.data.metadata.types
    //       } else {
    //         const self = this
    //         setTimeout(function() { self.openToast('Failed to load categories data. Please try agian.', 'warning') }, 200)
    //       }
    //     })
    //     .catch(e => {
    //       const self = this
    //       setTimeout(function() { self.openToast('Some error occured.', 'danger') }, 200)
    //       this.listLoading = false
    //     })
    // },
    saveSort(sortObject) {
      if (sortObject.newSeq === undefined || (sortObject.newSeq + '').trim().length === 0 || sortObject.oldSeq === undefined || (sortObject.oldSeq + '').trim().length === 0) {
        return
      }
      this.isUpdateMode = true
      var addObj = []
      addObj.push(sortObject)
      const params = new URLSearchParams()
      params.append('data', JSON.stringify(addObj))
      axios({
        url: process.env.BASE_API + '/protocol/reposition-form-details',
        method: 'post',
        data: params,
        withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          const self = this
          this.listLoading = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            setTimeout(function() { self.openToast('Reorder updated', 'success') }, 200)
            this.rerender()
            this.isUpdateMode = false
          } else {
            setTimeout(function() { self.openToast('Failed to save reorder. Please try agian.', 'warning') }, 200)
            this.rerender()
            this.isUpdateMode = false
          }
        })
        .catch(e => {
          const self = this
          setTimeout(function() { self.openToast('Some error occured while reordering the data.', 'danger') }, 200)
          this.listLoading = false
          this.rerender()
          this.isUpdateMode = false
        })
    },
    // changeType(RowData) {
    //   var items = this.typeMaster
    //   const obj = items.find(o => o.id === RowData.type_id)
    //   RowData.type_name = obj.name
    //   RowData.type_types = obj.types
    //   this.type_types = obj.types
    // },
    saveRecordText(row) {
      if (this.editRowData.id === undefined || (this.editRowData.id + '').trim().length === 0) {
        return
      }
      if (this.editRowData.name === undefined || (this.editRowData.name + '').trim().length === 0) {
        var self = this
        setTimeout(function() { self.openToast('Text Can not be empty.', 'warning') }, 200)
        return
      }
      row.name = this.editRowData.name
      row.type_id = row.type_id
      row.type_name = row.type_name
      this.isEditMode = false
      const params = new URLSearchParams()
      params.append('data', JSON.stringify(row))
      axios({
        url: process.env.BASE_API + '/protocol/create-form-detail',
        method: 'post',
        data: params,
        withCredentials: false,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          var self = this
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            row.edit_text = false
            setTimeout(function() { self.openToast('Text updated.', 'success') }, 200)
          } else {
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          }
        })
        .catch(e => {
          var self = this
          setTimeout(function() { self.openToast('Some error occured while saveing text', 'danger') }, 200)
          this.listLoading = false
        })
    },
    // saveRecordType(row) {
    //   if (this.editRowData.id === undefined || (this.editRowData.id + '').trim().length === 0) {
    //     return
    //   }
    //   if (this.editRowData.type_id === undefined || (this.editRowData.type_id + '').trim().length === 0) {
    //     var self = this
    //     setTimeout(function() { self.openToast('Type cant be blank.', 'warning') }, 200)
    //   }
    //   row.name = row.name
    //   row.type_id = this.editRowData.type_id
    //   row.type_name = this.editRowData.type_name
    //   row.type_types = this.type_types
    //   this.isEditMode = false
    //   const params = new URLSearchParams()
    //   params.append('data', JSON.stringify(row))
    //   axios({
    //     url: process.env.BASE_API + '/protocol/create-form-detail',
    //     method: 'post',
    //     data: params,
    //     withCredentials: false,
    //     headers: {
    //     }
    //   })
    //     .then(response => {
    //       this.listLoading = false
    //       var self = this
    //       if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
    //         row.edit_type = false
    //         setTimeout(function() { self.openToast('Type updated.', 'success') }, 200)
    //       } else {
    //         setTimeout(function() { self.openToast('Failed to updated type.', 'warning') }, 200)
    //       }
    //     })
    //     .catch(e => {
    //       var self = this
    //       setTimeout(function() { self.openToast('Some error occured while updating type.', 'danger') }, 200)
    //       this.listLoading = false
    //     })
    // },
    oncancelEditRow(row) {
      this.isEditMode = false
      row.edit_type = false
      row.edit_text = false
      this.isAddNewMode = false
      if (row.id === undefined || (row.id + '').trim().length === 0) {
        var removeIndex = this.list.map(function(item) { return item.id }).indexOf(row.id)
        this.list.splice(removeIndex, 1)
      }
    },
    // changeOption(row) {
    //   if (row.id === undefined || (row.id + '').trim().length === 0) {
    //     return
    //   }
    //   var sendData = {}
    //   sendData.id = row.id
    //   sendData.client_id = this.$store.getters.client_id
    //   sendData.admin_id = this.$store.getters.admin_id
    //   const params = new URLSearchParams()
    //   params.append('data', JSON.stringify(sendData))
    //   axios({
    //     url: process.env.BASE_API + '/protocol/change-optional-form-detail',
    //     method: 'post',
    //     data: params,
    //     headers: {
    //     }
    //   })
    //     .then(response => {
    //       var self = this
    //       this.listLoading = false
    //       if (response.data.status.trim().toUpperCase() !== 'SUCCESS') {
    //         setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
    //       } else {
    //         setTimeout(function() { self.openToast('Optional updated.', 'success') }, 200)
    //       }
    //     })
    //     .catch(e => {
    //       const self = this
    //       setTimeout(function() { self.openToast('Some error occured while updating optional', 'danger') }, 200)
    //       this.listLoading = false
    //     })
    // },
    sortDataSeqNo() {
      this.isDefaultSortOrder = false
      this.openSortConfirmModal = false
      this.isDragMove = false
      this.rerender()
    },
    checkMove(field, order) {
      this.sortField = field
      this.loadDataAsync()
    },
    loadDataAsync() {
      var field = this.sortField
      var order = this.sortOrder
      for (var i in this.columns) {
        if (this.columns[i].field === field) {
          if (this.columns[i].isActive === true) {
            if (order === 'asc') {
              this.columns[i].isDesc = false
            } else {
              this.columns[i].isDesc = true
            }
          } else {
            order = 'asc'
            this.columns[i].isDesc = false
          }
          this.columns[i].isActive = true
        } else {
          this.columns[i].isActive = false
          this.columns[i].isDesc = false
        }
      }
      if (this.isDragMove === false) {
        this.isDefaultSortOrder = true
      }
      this.isDragMove = false
      var isAsc = (order === 'asc')
      if (field.trim().toUpperCase() === 'NAME') {
        this.list.sort(function(a, b) {
          var nameA = a.name.toLowerCase()
          var nameB = b.name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'TYPE_NAME') {
        this.list.sort(function(a, b) {
          var nameA = a.type_name.toLowerCase()
          var nameB = b.type_name.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'LOOKUPDATA') {
        const arrTypes_Types = this.arrTypes_Type
        this.list.sort(function(a, b) {
          var nameA = arrTypes_Types[a.type_types]
          var nameB = arrTypes_Types[b.type_types]
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'OPTIONAL') {
        this.list.sort(function(a, b) {
          var nameA = a.optional.toLowerCase()
          var nameB = b.optional.toLowerCase()
          if (nameA < nameB) { // sort string ascending
            return isAsc ? -1 : 1
          } else if (nameA > nameB) {
            return isAsc ? 1 : -1
          } else {
            return 0 // default return value (no sorting)
          }
        })
      } else if (field.trim().toUpperCase() === 'SORT_ORDER') {
        this.list.sort(function(a, b) {
          return isAsc ? (a.sort_order - b.sort_order) : (b.sort_order - a.sort_order)
        })
      }
      this.sortOrder = isAsc ? 'desc' : 'asc'
    },
    rerender() {
      this.show = false
      this.$nextTick(() => {
        this.show = true
        this.isPaginated = true
        this.isPaginationSimple = true
        this.defaultSortDirection = 'asc'
        this.sortOrder = 'sort_order'
        this.currentPage = 1
        this.isEmpty = false
        this.isBordered = false
        this.isStriped = false
        this.isNarrowed = false
        this.isHoverable = false
        this.isFocusable = false
        this.isLoading = false
        this.hasMobileCards = false
        this.listLoading = false
        this.isSearchTable = true
        this.sortable = null
        this.type_types = ''
        this.sortDirection = 'asc'
        this.editRowData = []
        this.isEditMode = false
        this.isDefaultSortOrder = false
        this.openSortConfirmModal = false
        this.isDragMove = false
        this.show = true
        this.fetchData()
        // this.tallyRecord()
      })
    },
    deleteRow() {
      this.isUpdateMode = true
      const params = new URLSearchParams()
      params.append('id', this.selectedIDtoDelete)
      axios({
        url: process.env.BASE_API + '/protocol/delete-form-detail',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          this.isUpdateMode = false
          this.listLoading = false
          var self = this
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.isOpenDeleteModal = false
            this.sortOrder = (this.sortOrder === 'asc') ? 'desc' : 'asc'
            this.rerender()
            setTimeout(function() { self.openToast('Form deleted.', 'success') }, 200)
          } else {
            this.isOpenDeleteModal = false
            setTimeout(function() { self.openToast(response.data.msg, 'warning') }, 200)
          }
        })
        .catch(e => {
          this.isUpdateMode = false
          this.listLoading = false
          var self = this
          setTimeout(function() { self.openToast('Some error occured while deleting.', 'danger') }, 200)
        })
    },
    openDeleteModal(row) {
      this.selectedIDtoDelete = row.id
      this.isOpenDeleteModal = true
    },
    saveNewRow(row) {
      // (this.processing)
      // if(this.processing === false){
      //   return
      // }
      // this.processing =true
      var self = this
      if (this.editRowData.name === undefined || (this.editRowData.name + '').trim().length === 0) {
        setTimeout(function() { self.openToast('Text can not be empty.', 'warning') }, 200)
        return
      } else if (this.editRowData.type_id === undefined || (this.editRowData.type_id + '').trim().length === 0) {
        setTimeout(function() { self.openToast('Type can not be empty.', 'warning') }, 200)
      }
      this.isUpdateMode = true
      var saveObj = {}
      saveObj.id = ''
      saveObj.master_id = this.FormMasterData._id
      saveObj.name = this.editRowData.name
      saveObj.type_id = this.editRowData.type_id
      saveObj.optional = row.optional
      const params = new URLSearchParams()
      params.append('data', JSON.stringify(saveObj))
      axios({
        url: process.env.BASE_API + '/protocol/create-form-detail',
        method: 'post',
        withCredentials: false,
        data: params,
        headers: {
        }
      })
        .then(response => {
          this.listLoading = false
          this.isUpdateMode = false
          if (response.data.status.trim().toUpperCase() === 'SUCCESS') {
            this.isAddNewMode = false
            var newDataOBJ = response.data.master_details
            this.list.splice(0, 0, newDataOBJ)
            this.oncancelEditRow(row)
            if (this.isDragMove === false) {
              this.isDefaultSortOrder = true
            }
            this.isDragMove = false
            setTimeout(function() { self.openToast('New data saved.', 'success') }, 200)
          } else {
            setTimeout(function() { self.openToast('Failed to save data.', 'warning') }, 200)
          }
        })
        .catch(e => {
          this.isUpdateMode = false
          this.listLoading = false
          setTimeout(function() { self.openToast('Some error occured.', 'danger') }, 200)
        })
    },
    openToast(msg, type) {
      this.$toast.open({
        duration: 2000,
        message: msg,
        position: 'is-top-right',
        type: 'is-' + type
      })
    }
  }
}
</script>

<style>
body{
    color: #4a4a4a;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Calibri;
}
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}
table > thead{
  border-bottom: 1px solid black;
  border-style:hidden;
}
.b-table .table th.is-current-sort {
    border-color: #dbdbdb;
}
.b-table .table th.is-sortable:hover {
    border-color: #dbdbdb;
}
.checkbox-cell > label{
  width: 0px;
}
.checkbox-cell > label >span{
  width: 0px;
}
.table-wrapper > table > thead > tr > th :after{
    content: "-";
    display: block;
    line-height: 0.7em;
    color: transparent;
}
.table-wrapper > table > thead > tr > th{
    border-bottom-width: 0px;
}
.table-wrapper > table > thead{
    background-color: #F5F9FA;
}
.b-table .table {
	border: 0px;
}
.app-container .GPS {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: #363636;
  cursor: pointer;
  vertical-align: -0.3em;
}
.app-container .GPSArrow {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.app-container .GPSArrow_desc {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
}
.app-container .GPSNotActive {
  width: 0.7em;
  height: 0.9em;
  vertical-align: -0.15em;
  fill: #363636;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
span.icon.is-small {
  display : none ! important;
}
.app-container .el-form-item
{
  margin-bottom : 0px;
}
.mdi-arrow-all
{
  cursor: all-scroll;
}
.app-container .el-form-item__label {
  text-align: left;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
</style>

<style scoped>
.icon-star{
  margin-right:2px;
}
.drag-handler{
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.show-d{
  margin-top: 15px;
}
</style>
